<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YS.CMS.Apps.WebApp</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/dist/css/vendor.style.css" />
        <link rel="stylesheet" href="~/dist/css/style.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/dist/css/vendor.style.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/dist/css/vendor.style.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="container-fluid">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - YS.CMS.Apps.WebApp</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/dist/js/vendor.bundle.js"></script>
        <script src="~/dist/js/bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/dist/js/vendor.bundle.min.js" asp-append-version="true"></script>
        <script src="~/dist/js/bundle.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
