.str0 {
    stroke: #FEFEFE;
    stroke-width: 20
}

.str1 {
    stroke: #D2D3D5;
    stroke-width: 20
}

.str2 {
    stroke: #E6E7E8;
    stroke-width: 7.62
}

.fil0 {
    fill: #FEFEFE
}

.fil3 {
    fill: #E6E7E8
}

.fil1 {
    fill: #D2D3D5
}

.fil2 {
    fill: #BDBFC1
}

.fil4 {
    fill: #84716B
}
